In [7]:
import re
import json
import pandas as pd

In [8]:
# Ø®ÙˆØ§Ù†Ø¯Ù† Ø¯ÛŒØªØ§Ø³Øª
df = pd.read_csv("dataset.csv", encoding="utf-8-sig")

In [9]:
# 1. Ù¾ÛŒØ¯Ø§ Ú©Ø±Ø¯Ù† ØªÙ…Ø§Ù… ØªØ§Ø±ÛŒØ®â€ŒÙ‡Ø§
dates_raw = df[df["Category"] == "ØªØ§Ø±ÛŒØ®"]["Value"].tolist()

date_pattern = re.compile(
    r"(\d{1,2}/\d{1,2}/\d{4})|"          # ÙØ±Ù…Øª: 25/06/1403
    r"(\d{1,2}/[Ø¢-ÛŒ]+/\d{4})|"           # ÙØ±Ù…Øª: 25/Ø´Ù‡Ø±ÛŒÙˆØ±/1403
    r"(\d{4}-\d{2}-\d{2})|"              # ÙØ±Ù…Øª: 1403-06-05
    r"([Ø¢-ÛŒ\s]+Ø³Ø§Ù„\s\d{4})"              # ÙØ±Ù…Øª: Ø¨ÛŒØ³Øª Ùˆ Ù¾Ù†Ø¬Ù… Ø´Ù‡Ø±ÛŒÙˆØ± Ù…Ø§Ù‡ Ø³Ø§Ù„ 1403
)

dates_clean = []
for d in dates_raw:
    match = date_pattern.search(d)
    if match:
        dates_clean.append(match.group())

print("ğŸ“Œ Ø¨Ø®Ø´ 1: ØªØ§Ø±ÛŒØ®â€ŒÙ‡Ø§")
for i, d in enumerate(dates_clean, 1):
    print(f"{i}. {d}")
print("-" * 50)

ğŸ“Œ Ø¨Ø®Ø´ 1: ØªØ§Ø±ÛŒØ®â€ŒÙ‡Ø§
1. 25/06/1403
2. 25/Ø´Ù‡Ø±ÛŒÙˆØ±/1403
3. 1403-06-05
4. Ø¨ÛŒØ³Øª Ùˆ Ù¾Ù†Ø¬Ù… Ø´Ù‡Ø±ÛŒÙˆØ± Ù…Ø§Ù‡ Ø³Ø§Ù„ 1403
5. Ù¾Ø§Ù†Ø²Ø¯Ù‡Ù… Ø¯ÛŒ Ù…Ø§Ù‡ Ø³Ø§Ù„ 1403
6. ÛŒÚ©Ù… Ù…Ø±Ø¯Ø§Ø¯ Ù…Ø§Ù‡ Ø³Ø§Ù„ 1326
--------------------------------------------------

In [10]:
 #2. Ù†Ø´Ø§Ù†Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø®ØªØµØ§Ø±ÛŒ ÙØ§Ø±Ø³ÛŒ
 abbr_raw = df[df["Category"] == "Ù†Ø´Ø§Ù†Ù‡ Ø§Ø®ØªØµØ§Ø±ÛŒ"]["Value"].tolist()
abbr_pattern = re.compile(r"\((Øµ|Ø³|Ù‚\.Ù…|Ø±Ù‡)\)")

abbreviations = []
for a in abbr_raw:
    abbreviations.extend(abbr_pattern.findall(a))

print("ğŸ“Œ Ø¨Ø®Ø´ 2: Ù†Ø´Ø§Ù†Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø®ØªØµØ§Ø±ÛŒ ÙØ§Ø±Ø³ÛŒ")
for i, ab in enumerate(abbreviations, 1):
    print(f"{i}. {ab}")
print("-" * 50)

ğŸ“Œ Ø¨Ø®Ø´ 2: Ù†Ø´Ø§Ù†Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø®ØªØµØ§Ø±ÛŒ ÙØ§Ø±Ø³ÛŒ
1. Øµ
2. Ù‚.Ù…
3. Ø³
--------------------------------------------------

In [11]:
# 3. Ø§Ø³ØªØ®Ø±Ø§Ø¬ ID Ùˆ Class Ø§Ø² HTML
html_raw = df[df["Category"] == "HTML"]["Value"].tolist()

id_pattern = re.compile(r'id="([^"]+)"')
class_pattern = re.compile(r'class="([^"]+)"')

ids, classes = [], []
for tag in html_raw:
    ids.extend(id_pattern.findall(tag))
    classes.extend(class_pattern.findall(tag))

print("ğŸ“Œ Ø¨Ø®Ø´ 3: Ø¢ÛŒâ€ŒØ¯ÛŒâ€ŒÙ‡Ø§ Ùˆ Ú©Ù„Ø§Ø³â€ŒÙ‡Ø§")
print("IDs:")
for i, idv in enumerate(ids, 1):
    print(f"  {i}. {idv}")

print("Classes:")
for i, cl in enumerate(classes, 1):
    print(f"  {i}. {cl}")
print("-" * 50)

ğŸ“Œ Ø¨Ø®Ø´ 3: Ø¢ÛŒâ€ŒØ¯ÛŒâ€ŒÙ‡Ø§ Ùˆ Ú©Ù„Ø§Ø³â€ŒÙ‡Ø§
IDs:
  1. div1
  2. 1dhs
Classes:
  1. text-center
  2. link-primary
--------------------------------------------------

In [12]:
# 4. ØªØ´Ø®ÛŒØµ JSON
json_raw = df[df["Category"] == "JSON"]["Value"].tolist()
valid_jsons = []

for js in json_raw:
    try:
        parsed = json.loads(js)
        valid_jsons.append(parsed)
    except json.JSONDecodeError:
        pass

print("ğŸ“Œ Ø¨Ø®Ø´ 4: JSON Ù…Ø¹ØªØ¨Ø±")
for i, js in enumerate(valid_jsons, 1):
    print(f"{i}. {json.dumps(js, ensure_ascii=False)}")
print("-" * 50)

ğŸ“Œ Ø¨Ø®Ø´ 4: JSON Ù…Ø¹ØªØ¨Ø±
1. {"name": "Ali", "age": 25, "city": "Tehran"}
2. {"product": "Laptop", "price": 34000, "currency": "IRR"}
--------------------------------------------------